<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qexz.dao.DepartmentMapper" >
    <resultMap id="BaseResultMap" type="com.qexz.model.Department" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
        <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
        <result column="desc" property="desc" jdbcType="VARCHAR" />
        <result column="parent_id" property="parent_id" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id,`name`,code,state,create_time,update_time,desc,parent_id
    </sql>

    <insert id="insertPosition" parameterType="com.qexz.model.Department" >
        insert into t_department
        (name, code, state,desc,create_time,update_time)
        values (#{department.name}, #{department.code}, #{department.state}, #{department.desc},CURRENT_TIMESTAMP ,CURRENT_TIMESTAMP )
    </insert>

    <update id="updatePositionById" parameterType="com.qexz.model.Department">
        UPDATE t_department
        SET
        name = #{department.name}, code = #{department.code}, state = #{department.state}, desc = #{department.desc},
        img_url = #{department.imgUrl}
        WHERE
        id = #{department.id}
    </update>

    <select id="getPositionById" resultMap="BaseResultMap" parameterType="int" >
        SELECT
        *
        FROM t_department
        WHERE id = #{id}
    </select>

    <select id="getCount" resultType="int">
        SELECT
        COUNT(1)
        FROM t_department
    </select>

    <select id="getPositions" resultMap="BaseResultMap" >
        SELECT
        *
        FROM t_department
    </select>

    <delete id="deletePositionById" parameterType="int">
        DELETE FROM t_department
        where id = #{id}
    </delete>
</mapper>