<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qexz.dao.PositionMapper" >
    <resultMap id="BaseResultMap" type="com.qexz.model.Position" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="position_num" property="positionNum" jdbcType="INTEGER" />
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="descr" property="descr" jdbcType="VARCHAR" />
        <result column="department_id" property="department_id" jdbcType="VARCHAR" />
        <result column="posi_code" property="posi_code" jdbcType="VARCHAR" />
        <result column="place" property="place" jdbcType="VARCHAR" />
        <result column="posi_type" property="posi_type" jdbcType="INTEGER" />
        <result column="degree" property="degree" jdbcType="VARCHAR" />
        <result column="deepth" property="deepth" jdbcType="VARCHAR" />
        <result column="source_type" property="sourceType" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id,`name`,position_num,img_url,state,create_time,update_time,posi_code,descr,place,posi_type,degree,deepth ,source_type
    </sql>

    <insert id="insertPosition" parameterType="com.qexz.model.Position" >
        insert into t_position
        (name, source_type, position_num, department_id,posi_code,descr,place,posi_type,degree,deepth,state)
        values (#{position.name},#{position.sourceType}, #{position.positionNum},  #{position.department_id}
               , #{position.posi_code}, #{position.descr} , #{position.place}, #{position.posi_type}, #{position.degree}, #{position.deepth},0)
    </insert>

    <update id="updatePositionById" parameterType="com.qexz.model.Position">
        UPDATE t_position
        SET
        name = #{position.name},
            position_num = #{position.positionNum},
            source_type = #{position.sourceType},
            descr = #{position.descr},
            department_id = #{position.department_id},
            posi_code = #{position.posi_code},
            place = #{position.place},
            posi_type = #{position.posi_type},
            degree = #{position.degree},
            deepth = #{position.deepth},
            update_time = current_timestamp
        WHERE
        id = #{position.id}
    </update>

    <select id="getPositionById" resultMap="BaseResultMap" parameterType="int" >
        SELECT
        *
        FROM t_position
        WHERE id = #{id}
    </select>

    <select id="getCount" resultType="int">
        SELECT
        COUNT(1)
        FROM t_position
    </select>

    <select id="getPositions" resultMap="BaseResultMap" >
        SELECT
        *
        FROM t_position
    </select>

    <delete id="deletePositionById" parameterType="int">
        DELETE FROM t_position
        where id = #{id}
    </delete>

    <select id="getCountByType" resultType="int">
        SELECT
                COUNT(1)
        FROM t_position
        where  posi_type = #{type}
    </select>

    <select id="getPositionsByType" resultMap="BaseResultMap" >
        SELECT
                *
        FROM t_position
        where  posi_type = #{type}
    </select>

    <select id="getCountByName" resultType="int" >
        SELECT
        COUNT(1)
        FROM t_position
        where  posi_type = #{type}
    </select>

    <select id="getPositionsByName" resultMap="BaseResultMap" >
        SELECT
        *
        FROM t_position
        where  name = #{name}
    </select>
</mapper>